section {
  margin-top: 5px;
  margin-bottom: 5px;
}

nav {
  background-color: white;
  color: black;
  font-weight: 500;
  position: end;
  padding: 20%;
  margin-left: 2%;
  margin-right: 2%;
}

h1 {
  justify-content: center;
  text-align: center;
}

#imageLeft {
  width: 40%;
  height: 300px;
  padding: 1%;
}

p {
  font-size: 20px;
  font-style: normal;
}

.card-body {
  margin-top: 7%;
  text-align: center;
}

#appleLogo {
  padding: 2.5px;
  margin-bottom: 4px;
}

#playStoreLogo {
  padding: 2.5px;
  margin-bottom: 4px;
}

#sectionTestimonials {
  margin: 3%;
}

#imageSectionTwoRight {
  width: 100%;
  height: 90%;
  padding: 1%;
}

h2 {
  text-align: center;
}

.fiveStars {
  width: 50%;
  height: 10%;
}
